<%- include('adminheader') %>

<body>
  <main>
    <section class="content-main mt-80 mb-80">
      <div class="card mx-auto card-login">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Admin Login</h4>
          <% if (locals.alert) { %>
          <div class="alert alert-danger text-center m-3" id="error">
            <%= locals.alert %>
          </div>
          <% } %> <% if (locals.logout) { %>
          <div class="alert alert-success text-center m-3" id="logout">
            <%= locals.logout %>
          </div>
          <% } %>
          <form action="/submit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                name="email"
                placeholder="Username or email"
                type="text"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                name="password"
                placeholder="Password"
                type="password"
              />
            </div>
            <div class="mb-3">
              <a href="#" class="float-end font-sm text-muted"
                >Forgot password?</a
              >
              <label class="form-check">
                <input type="checkbox" class="form-check-input" checked="" />
                <span class="form-check-label">Remember</span>
              </label>
            </div>
            <div class="mb-4">
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <script>
    setTimeout(() => {
      document.getElementById("error").style.display = "none";
    }, 3000);
    setTimeout(() => {
      document.getElementById("logout").style.display = "none";
    }, 3000);
  </script>
  <%- include('adminfooter') %>
</body>
